[DEFAULT]
# Possible values: True, False

Duplicate Keys = False

Duplicate Titles = True

Missing Required Fields = True

Missing Optional Fields = True

# In title fields, all letters except the first are turned to lowercase unless secured by curly braces
Unsecured Title Characters = True

# You only really need curly braces in titles and not for lowercase letters
Unnecessary Braces = False

Bad Page Numbers = True

Inconsistent Conferences = False

Incomplete Names = False

Inconsistent Names = False

Inconsistent Locations = False

Inconsistent Inferrable Information = False



[Consistency]
# Possible values: True, False

Bad Page Numbers = False



[Fixer]
# Possible values: Auto, Try, Prompt, No

Duplicate Titles = No

Missing Required Fields = No

Missing Optional Fields = No



[Fixer Silent Mode]
# Set variables to 'Hide' to let Fixer be silent about its changes.
# Setting them to 'Show" will still only display anything if that fixer action is activated.
# Possible values: Hide, Show
Unsecured Title Characters = Hide
Bad Page Numbers = Hide
