[DEFAULT]
# Possible values: True, False

### General
LaTeX to BibTeX = True
Unicode to BibTeX = True

### Keys
# Find entries that use the same key
Duplicate Keys = False

Missing Required Fields = True

Missing Optional Fields = True

### Titles
# Find entries that have identical titles
Duplicate Titles = True

# Set entry types to ignore when looking for duplicate titles (use comma-separation for multiple types)
Ignore Entry Types for Duplicate Titles = misc

# In title fields, all letters except the first are turned to lowercase unless secured by curly braces.
# This option applies curly braces to individual uppercase letters to secure them.
Unsecured Title Characters = True

# You only really need curly braces in titles and not for lowercase letters
Unnecessary Braces = False

### Page numbers
# Find/fix bad hyphens and unnecessary whitespace
Bad Page Numbers = True

### Publication location
Inconsistent Conferences = False

### Names
# Consistency: Find names with first names given as initials.
# Fixer: Expand names to more complete form if it can be found in other entries
Incomplete Names = True

# Find and fix names that are not written in the unambiguous "LAST, FIRST and LAST, FIRST" format.
Ambiguous Names = True

# Find and fix names that have been written entirely in capitals
# In Fixer, any fixed name will be reformatted according to the "ambiguous name" feature.
All-Caps Names = True


### Locations
Inconsistent Locations = True

### Interconnected fields
Inconsistent Inferrable Information = False



[Consistency]
# Possible values: True, False

### Overwrite defaults
Duplicate Titles = False
Unsecured Title Characters = False

Missing Required Fields = False
Missing Optional Fields = False

Bad Page Numbers = False



[Fixer]
# Possible values: Auto, Try, Prompt, No

### Overwrite defaults
Duplicate Titles = No

# Add missing required fields if inferrable.
Missing Required Fields = Auto

# Add missing optional fields if inferrable.
Missing Optional Fields = Auto



[Fixer Silent Mode]
# Set variables to 'Hide' to let Fixer be silent about its changes.
# Setting them to 'Show" will still only display anything if that fixer action is activated.
# Possible values: Hide, Show, Summary

Unsecured Title Characters = Hide
Bad Page Numbers = Hide
Missing Required Fields = Hide
Missing Optional Fields = Hide

Incomplete Names = Hide
Ambiguous Names = Hide
All-Caps Names = Hide

